<% if @message %>
  <div class="center alert">
    <p><%= @message %></p>
  </div>
<% end %>
<div class="pic">
  <img src="http://8900-presscdn-0-84.pagely.netdna-cdn.com/wp-content/themes/beautycon/assets/img/avatar-grey.png" height="250" data-pin-nopin="true">
</div>


<div>
  <% if @user.admin %>
    <h4>ADMIN</h4>
  <% end %>
  <p><strong>Name: </strong><%= @user.name %></p>
  <p><strong>Total Number of Rides: </strong><%= @user.rides.count %></p>
  <p><strong>Tickets: </strong><%= @user.tickets %></p>
  <p><strong>Height: </strong><%= @user.height %> inches</p>
  <p><strong>Mood: </strong><%= @user.mood %></p>
  <%= link_to "See attractions", attractions_path %><br><br>
  <%= link_to "Edit", edit_user_path(@user) %>
</div>
